data
corpora
.env
venv
packenv
.DS_Store
trash

# Jupyter
jupyter.*.out
.ipynb_checkpoints

# Log files
lastu_*.txt
wm2*.txt

# Downloads
*.tar.gz

# Testing
.coverage

# Building
dist
__pycache__
*.pyc
build
*.egg-info
ui-qt6.new.spec
win-version.txt

# Publication
paper
