
# Base
pandas
tqdm

# UI
pyqt6

# Excel writer
openpyxl
uliplot

# query debug
tabulate

# building
pyinstaller
pyinstaller-versionfile

# windows/macos building
pypiwin32; sys_platform == 'win32'
pyobjc; sys_platform == 'darwin'
