
# Base
pandas
tqdm

# UI
PyQt6==6.4.0
PyQt6-Qt6==6.4.0
PyQt6-sip==13.4.0

# Excel writer
openpyxl
uliplot

# query debug
tabulate

# building
pyinstaller
pyinstaller-versionfile; sys_platform == 'win32'

# testing
pytest
pytest-check

# windows/macos building
pypiwin32; sys_platform == 'win32'
pyobjc; sys_platform == 'darwin'
