numpy
nltk
pandas
tqdm

# notebook stuff
jupyter
nbstripout
nbqa
jupyter_contrib_nbextensions

# visualization
matplotlib
plotly
seaborn

# Finnish NLP
# uralicNLP

# code quality
typing-extensions
mypy
pylint
flake8==4.0.1
flake8-docstrings
pyproject-flake8

# UI
pyqt6

# Excel writer
openpyxl
uliplot

# query debug
tabulate
types-tabulate

# edit distance / neighbourhood calculations
# these don't install out of the box for Windows
# symspellpy
# uralicNLP

# building
# pyinstaller

# corpora
# pyconll
conllu

# scientific
# scipy/sklearn: comment if not on M1 Mac, or use conda
# scipy/sklearn install magic for M1:
# https://github.com/scikit-learn/scikit-learn/issues/19137
# scipy
# sklearn
