numpy
nltk
pandas
tqdm

# notebook stuff
jupyter
nbstripout
nbqa
jupyter_contrib_nbextensions

# visualization
matplotlib
plotly
seaborn

# Finnish NLP
# edit distance / neighbourhood calculations
# these don't install out of the box for Windows
uralicNLP; sys_platform != "win32"
symspellpy; sys_platform != "win32"

# code quality
typing-extensions
mypy
pylint
flake8==4.0.1
flake8-docstrings
pyproject-flake8

# UI
pyqt6

# Excel writer
openpyxl
uliplot

# query debug
tabulate
types-tabulate

# building
# pyinstaller

# corpora
# pyconll
conllu

# windows information
pypiwin32; sys_platform == 'win32'

# security auditing
pip-audit

# testing
pytest
pytest-check

# scientific
# scipy/sklearn: comment if not on M1 Mac, or use conda
# scipy/sklearn install magic for M1:
# https://github.com/scikit-learn/scikit-learn/issues/19137
# scipy
# sklearn
